@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

/* .container {
    display: flex;
    background-color: hsl(212, 45%, 89%);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
} */
.targeta {
    background-color: white;
    border-radius: 10px;
    margin: 3rem 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 20rem;
    padding: 1rem;
}
.img {
    max-width: 100%;
    border-radius: 5px;
}
h2 {
   font-weight: 700;
   margin: 1rem 1.6rem 0 1.6rem;
}
p {
    text-align: center;
    margin: 1rem 1.8rem 0 1.8rem ;
    margin-bottom: 1rem;
    color: hsl(220, 15%, 55%);
    /* width: 188px; */

}
/* .strong {
    font-weight: 700;
    
} */
/* .normal {
    font-size: 0.80em;
    color: hsl(220, 15%, 55%);
    width: 188px;
} */